
{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block content %}
    {% image self.image_banner width-1500 as img %}
    <div class="jumbotron" style='background-image:  url("{{ img.url }}"); background-size:cover; background-position: center center; '>
        <h1 class="display-4">{{self.text_banner}}</h1>
        <div class="lead">{{self.sub_banner | richtext}}</div>
        {% if self.banier_cta %}
            <a class="btn btn-primary btn-lg" href="#" role="button">@todo</a>
        {% endif %}
    </div>
{% endblock %}